/* --- Fluent BTN --- */

.small_fluent_btn {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--transparent);
  display: inline-block;
  width: 39px;
  margin-bottom: 1px;
}

.small_fluent_btn:active {
  margin-top: 1px;
  margin-bottom: 0;
}

.small_fluent_btn span {
  margin-left: 10px;
  position: relative;
  top: -10px;
}

.small_fluent_btn img {
  max-width: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.small_fluent_btn:hover,
.small_fluent_btn:active,
.small_fluent_btn:focus {
  background-color: #0000000a;
  border: 2px solid #4f474e61;
}

/* --- Path --- */

.path {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--transparent);
  display: inline-block;
  height: 39px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0 10px;
  width: 100%;
  width: -moz-available;
  /* For Mozzila */
  width: -webkit-fill-available;
  /* For Chrome */
  width: stretch;
  /* Unprefixed */
}

.path:active {
  margin-top: 1px;
}

.path:hover,
.path:active,
.path:focus {
  background-color: #0000000a;
  border: 2px solid #4f474e61;
}

/* --- Tree Node --- */

.tree-node {
  cursor: pointer;
  border: 2px solid var(--transparent);
  transition: all 500ms;
  height: 31px;
  display: flex;
  align-items: center;
}

.tree-node:active {
  margin-top: 1px;
}

.tree-node:hover,
.tree-node:active,
.tree-node:focus {
  border: 2px solid var(--border-color);
  background-color: var(--el-back-hover);
  color: var(--text);
}

.tree-node img {
  width: 16px;
  margin: 0 5px;
}

.tree-arrow {
  transition: all 200ms;
}

.tree-leaf-list-item{
  padding-left: 15px;
}

/* --- Files --- */

.files table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

.files tbody tr {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 0 0 0;
  border: 2px solid var(--transparent);
  color: #868686;
  overflow: hidden;
  font-size: 15px;
  word-wrap: anywhere;
}

.files tbody tr:active {
  margin-top: 1px;
}

.files tbody tr span {
  margin-left: 10px;
  position: relative;
  top: -7px;
}

.files tbody tr:hover {
  background-color: var(--el-back-hover);
  transition: color 500ms;
  color: var(--text);
}

.files tbody tr.selected {
  background-color: var(--select);
  color: var(--text);
}

.files tbody tr.selected:hover {
  background-color: var(--select-hover);
}

/* --- --- */

.files tbody td:first-child, .files thead th:first-child {
  width: 30px;
  text-align: center;
}

.files tbody td:nth-child(2) {
  width: 35px;
  text-align: center;
}

.files tbody td:nth-child(4), .files thead th:nth-child(4) {
  width: 60px;
  text-align: left;
}

.files tbody td:nth-child(5), .files thead th:nth-child(5) {
  width: 190px;
  text-align: left;
}

.files tbody td:nth-child(6), .files thead th:nth-child(6) {
  width: 60px;
  text-align: left;
}

/* --- --- */

.explorer-space {
  border: 1px solid #820282;
}

/* --- --- */

.is-hidden {
  opacity: 0;
}





ul {
  padding: 0;
}

li {
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}



.files tbody tr input:checked ~ .tr{
  color: red
}


/*------- Toogle -------*/

.toggle-control {
  display: block;
  position: relative;
  float: right;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}  
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}