.explorer {
  height: 100vh;
}

.explorer .pane {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  background: var(--el-back-secondary);
  border-right: 2px solid #4b4b4b;
  padding-top: 10px;
}


.explorer .pane button:hover {
  background-color: var(--el-back-hover);
  border: 2px solid var(--border-color);
}

.explorer .pane button:active {
  margin-top: 1px;
  margin-bottom: 0px;
}

.explorer .pane .footer {
  margin-top: auto;
  border-top: 2px solid #4b4b4b;
}

hr {
  margin: 0;
  border-bottom: 2px solid var(--secondary);
}

.options {
  margin: 10px;
  margin-right: 0px;
}

.nav {
  display: flex;
}



.files {
  padding: 20px;
}

.files img {
  width: 25px;
}

.files th {
  text-align: left;
}