header {
  height: 50px;
  padding: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
  background-color: #820282;
  z-index: 3;
  position: relative;
}

header img {
  height: 100%;
}

header span {
  font-weight: 300;
  font-size: 20px;
  position: relative;
  left: 15px;
}

header span.title {
  top: -15px;
}

header .menu {
  float: right;
  cursor: pointer;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
}

.search .input {
  top: 6px;
  width: 35vw;
  max-width: 500px;
  min-width: 200px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  cursor: text;
  background-color: #fff;
  border: 2px solid #4f474e00;
  display: inline-block;
  position: relative;
}

.search .input img {
  width: 30px;
  height: 30px;
}

.search .input input {
  height: 36px;
  position: relative;
  top: -9px;
  background-color: #0000;
  border: 0;
  outline: 0;
  width: calc(100% - 40px);
}

.search .input:hover,
.search .input:active,
.search .input:focus {
  background-color: #fff;
  border: 2px solid #4f474e61;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search .result {
  top: 16px;
  width: 35vw;
  max-width: 500px;
  min-width: 200px;
  max-height: calc(100vh - 100px);
  overflow: hidden scroll;
  padding: 3px;
  border-radius: 5px;
  cursor: text;
  background-color: #fff;
  color: #000;
  border: 2px solid #4f474e00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  display: none;
  z-index: 10;
}

.search .result tr {
  display: block;
  cursor: pointer;
  padding: 5px;
}

.search .result tr:hover {
  background-color: #00000017;
}

.search .result img {
  width: 25px;
}

header div {
  display: inline;
}

#explorer header {
  display: flex;
  justify-content: space-between;
  background-color: #820282;
}

#viewer header {
  background-color: #4F474E;
}

#explorer header span {
  top: -15px;
}

#viewer header span {
  top: 0px;
}

td {
  border-radius: 10px
}

.path-link {
  color: #868686;
}
.path-link:hover {
  transition: color 500ms;
}
@media (prefers-color-scheme: light) {
  .path-link:hover {
    color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  .path-link:hover {
    color: #fff;
  }
}

.path-space {
  margin: 0 7px;
}

#el {
  padding: 20px;
  overflow-y: scroll;
  height: calc(100vh - 210px);
}

#rmsrc {
  width: 150px;
}

.val {
  position: relative;
  top: 5px;
  float: right;
}

.Options {
  font-size: 23px;
  outline: 0;
}

.Light {
  font-weight: 300;
  font-size: 20px;
}

#uploadbck {
  background-color: #0078D4;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 30;
  transition: all 0.5s
}

#uploadperc {
  background-color: #005BA1;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 35;
  transition: all 0.5s;
}

#uploadstatus {
  height: 30px;
  padding: 15px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 40;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  transition: all 0.5s
}

.overmouse {
  position: initial;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 250ms;
}

.overmouse {
  background-color: #fff0;
}

.overmouse:hover {
  background-color: #00000017;
}

.uploadtransfert {
  animation: transfer 3s linear infinite;
}

@keyframes transfer {
  0% {
    background-color: #0078D430;
  }

  33% {
    background-color: #0078D430;
  }

  66% {
    background-color: #005BA130;
  }

  100% {
    background-color: #0078D430;
  }
}

/* --- OVER --- */
.over-back {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #000b;
  z-index: 99;
}

.over-box {
  display: block;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  width: calc(100vw - 40px);
  max-width: 500px;
  height: calc(100vh - 40px);
  max-height: 450px;
  z-index: 100;
  margin: auto;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.info-box {
  display: block;
  padding: 20px;
  position: absolute;
  top: 0px;
  right: -100%;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  z-index: 100;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: scroll;
  transition: all 0.5s;
}

@media (prefers-color-scheme: light) {

  .info-box,
  .over-box {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {

  .info-box,
  .over-box {
    background-color: #323130;
  }
}

.Size-Barre {
  height: 10px;
  margin-right: 11px;
  position: relative;
  transition: width 0.8s;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  h1 {
    border-bottom: 2px solid black;
  }
}

@media (prefers-color-scheme: dark) {
  h1 {
    border-bottom: 2px solid white;
  }
}



/* --- Loader --- */
.loaderimg {
  background-color: #820282;
  height: 1vmin;
  transition: all 0.5s;
  position: relative;
  top: -9px;
}

.loader-3 {
  --color: #820282;
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 0.5vmin;
  --size-square: 10px;
  position: relative;
  width: 100%;
  display: block;
}

.loader-3::before,
.loader-3::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}

.loader-3::before {
  height: var(--size-bar);
  width: 100%;
  border-radius: 10px;
  background-color: var(--color);
  animation: loader-4 2s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

.loader-4 {
  --color: #820282;
}

#viewer .loader-4 {
  --color: #857E85;
}

.loader-4 {
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 1vmin;
  --size-square: 10px;
  position: relative;
  width: 100%;
  display: block;
}

.loader-4::before,
.loader-4::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}

.loader-4::before {
  height: var(--size-bar);
  width: 100%;
  background-color: var(--color);
  animation: loader-4 2s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes loader-4 {

  0%,
  44%,
  88.1%,
  100% {
    transform-origin: left;
  }

  0%,
  100%,
  88% {
    transform: scaleX(0);
  }

  44.1%,
  88% {
    transform-origin: right;
  }

  33%,
  44% {
    transform: scaleX(1);
  }
}